$primary-color: #2A6CEA;
$primary-disabled-color: #ABCAE6;
$primary-hover-color: #397DFF;
$black-color: #191C1F;
$dark-grey-color: #5E646A;
$grey-color: #83898F;
$mid-grey-color: #C2C8CD;
$light-grey-color: #ECEFF2;
$extra-light-gray-color: #F6F8FA;
$white-color: #FFFFFF;
$dangerous-color: #F13636;
$success-color: #25CD82;

$with-1920: 1920px;
$with-768: 768px;
$with-375: 375px;
$with-320: 320px;

$container-width-1920: 1216px;     
$container-width-768: 716px;     
$container-width-375: 342px;
$container-width-320  : 288px; 

$font-family: 'Graphik LCG', sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;