* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    border: 0;
    overflow-x: hidden;
  }
  
  /* Lists */
  
  ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Links */
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Forms */
  
  input, textarea, select {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font-family: inherit;
  }
  
  /* Images */
  
  img {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  
  
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }